@CHARSET "UTF-8";

.pdv_class_21 {
	width: 224px;
	height: 297px;
	top: 0px;
	left: 11px;
}

.pdv_class_22 {
	width: 224px;
	height: 204px;
	top: 300px;
	left: 11px;
}

.pdv_class_23 {
	width: 710px;
	top: 34px;
	left: 257px;
}

div.titlemenu_dolphin {
	margin: 0px 12px;
	padding: 9px 33px 20px;
	background: #fefefe;
}

div.titlemenu_dolphin a.titlemenu_dolphin:link, div.titlemenu_dolphin a.titlemenu_dolphin:visited,
	div.titlemenu_dolphin a.titlemenu_dolphin:active {
	display: block;
	text-decoration: none;
	font: 12px/31px Verdana, Arial, Helvetica, sans-serif;
	height: 43px;
	text-align: left;
	background: url(../img/dot2.png) 0px 0px no-repeat;
	padding-left: 35px;
	margin: 0px;
	color: #2e2e2e;
}

div.titlemenu_dolphin a.titlemenu_dolphin:hover {
	display: block;
	color: #e10000;
	text-decoration: none;
}

div.page_content {
	font: 12px/22px Verdana, Arial, Helvetica, sans-serif;
	color: #303030;
	padding: 20px 40px 40px 40px;
}

div.page_content p, div.page_content a, div.page_content td, div.page_content span,
	div.page_content li {
	font: 12px/22px Verdana, Arial, Helvetica, sans-serif;
	color: #303030;
}