@CHARSET "UTF-8";

ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

#dropmenu {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 46px;
	line-height: 46px;
}

#dropmenu li {
	display: inline-block;
	list-style: none;
	font: 12px/18px SimSun, 'microsoft yahei', Verdana, Arial;
	width: 110px;
	list-style: none;
}

#dropmenu li a {
	text-decoration: none;
	width: 107px;
	color: #fff;
	font: 14px SimSun;
	white-space: nowrap;
}

#dropmenu li a:hover {
	color: #fff;
}

#dropmenu li ul {
	margin: 0 0 0 1px;
	padding: 10px 0px;
	width: 107px;
	position: absolute;
	visibility: hidden;
	background: url(../images/smenubg103.png) repeat;
}

#dropmenu li ul li {
	float: none;
	display: inline;
	width: 107px;
	height: 30px;
	font: 12px/30px SimSun, 'microsoft yahei', Verdana, Arial;
}

#dropmenu li ul li a {
	padding: 0px;
	text-align: center;
	color: #303030;
	background: transparent;
	font: 12px/30px SimSun, 'microsoft yahei', Verdana, Arial;
}

#dropmenu li ul li a:hover {
	padding: 0px;
	color: #fff;
	background: url(../images/smenunow103.png) repeat;
	font: 12px/30px SimSun, 'microsoft yahei', Verdana, Arial;
}