@CHARSET "UTF-8";

/* ============文章列表============== */
ul.newslist {
	margin: 0px;
	padding: 14px 27px 4px 27px;
}

li.newslist {
	margin: 0;
	padding-left: 13px;
	list-style-type: none;
	height: 23px;
	color: #fff;
	background: transparent url(../img/list.png) 0px center no-repeat;
}

a.newslist:link, a.newslist:visited, a.newslist:active {
	text-decoration: none;
	font: 12px/23px simsun;
	color: #2e2e2e;
}

a.newslist:hover {
	color: #ff0000;
	text-decoration: underline;
	font: 12px/23px simsun;
}