@CHARSET "UTF-8";

div.productclass_dolphin {
	margin: 0px 12px;
	padding: 9px 33px 20px;
	background: #fefefe;
}

a.productclass_dolphin:link, a.productclass_dolphin:visited, a.productclass_dolphin:active
	{
	display: block;
	text-decoration: none;
	font: 12px/31px Verdana, Arial, Helvetica, sans-serif;
	height: 36px;
	text-align: left;
	background: url(../img/dot2.png) 0px 0px no-repeat;
	padding-left: 35px;
	margin: 0px;
	color: #2e2e2e;
}

a.productclass_dolphin:hover {
	display: block;
	color: #ff0000;
	text-decoration: none;
}


/* ============产品图片列表============== */

div.productlist_index{
margin:0px 12px 3px 0px;
text-align:center;
float:left;
background:url(../images/pbg.jpg) 0 0 no-repeat;
padding:2px 6px 0px 4px;
}

div.productlist_index div.fang{
background: #fff;
padding:0px;
text-align:center;
}

div.productlist_index div.picFit{
overflow: hidden;
}

div.productlist_index div.picFit img{
}


div.productlist_index div.title{
text-align:center;
overflow: hidden;
white-space:nowrap;
}

div.productlist_index a:link,div.productlist_index a:visited,div.productlist_index a:active{
color:#2e2e2e;
font:12px/38px arial,simsun;
text-decoration: none;
}

div.productlist_index a:hover{
color:#ff0000;
text-decoration: underline;
font:12px/38px arial,simsun;
}